:root {
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

#pico-pinout {
  --width: 100vh;
  --height: 100vh;
  width: var(--width);
  height: var(--height);
  background: white;
  margin-left: calc(50vw - (var(--width)/2) + (var(--width)/10));
  margin-top: calc(50vh - (var(--height)/2));
}

h1 {
  display: block;
  position: absolute;
  width: 100vw;
  text-align: center;
}

button {
  font-family: inherit;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #0000000d;
  color: #0e0e10;
  padding: 0 20px;
}

button:hover {
    background-color: #0000001a;
}

select {
  font-family: inherit;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #0000000d;
  color: #0e0e10;
  padding: 0 20px;
}

select:hover {
    background-color: #0000001a;
}